#
# Custom declarations goes here
#

# TEENSY / Atmega32u4 Breakout+
# TEENSY_KEYBOARD_LAYOUT = LAYOUT_FRENCH
# TARGET_BOARD = teensy
# TEENSY_USB = usb_hid
# MCU=atmega32u4

# MCU=atmega168
# PORT=/dev/arduino
